@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Prompt", sans-serif;
    height: 100%;
    overflow: auto;
}

html {
    overflow: hidden;
    height: 100%;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="number"],
input[type="email"],
textarea,
select {
    @apply p-2 border border-slate-300 focus:border-lime-600 outline-none transition-all ease-in-out duration-300;
}

label {
    @apply text-sm;
}

@media print {
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
}
